{% extends 'layout.html' %}
{% block content %}

<form>

¿Cuantas personas viven en tu hogar?<select>
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
<option>5</option>
<option>6</option>
<option>7</option>
<option>8</option>
<option>9</option>
<option>10</option>
</select>
<br><br>
¿Cuanto gastas en electricidad anualmente?<br><input type="text"/>  <br/><br/>

¿Cuánto gastas en Gas Natural?<br><input type="text"/>  <br/><br/>

¿Cuantos galones de gas licuado compras al mes?<select>
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
<option>5</option>
<option>6</option>
<option>7</option>
<option>8</option>
<option>9</option>
<option>10</option>
</select>
<br>
¿De cuantos [Kg] ?<input type="text"/>  <br/><br/>

Elige tu tipo de vehículo:<select>
<option>--</option>
<option>Pequeño(Menor a 1200cc)</option>
<option>Mediano(1200cc)</option>
<option>Grande(Superior a 1200cc)</option>
</select>
<br><br>

¿Cuántas veces tomas el transporte público a la semana?:<select>
<option>0</option>
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
<option>5</option>
<option>6</option>
<option>7</option>
<option>8</option>
<option>9</option>
<option>10</option>
<option>11</option>
<option>12</option>
<option>13</option>
<option>14</option>
</select>
<br><br>

¿Cuántos [kg] de plástico ha consumido este año?<input type="text"/> <br>
Por ejemplo: una botella de medio litro pesa 8,7 [g]
<br><br>

¿Cuál es su tipo de dieta?<select>
<option>--</option>
<option>Rico en carnes (Carnivora)</option>
<option>Dieta promedio (Omnivora)</option>
<option>Sin carnes rojas</option>
<option>Vegetariana</option>
<option>Vegana</option>
</select>
<br><br>


<p><button type="submit">Enviar formulario</button></p>
</form>
{% endblock %}