{% extends 'layout.html' %}
{% block content %}

<form>

¿Cuantas personas viven en tu hogar?<select>
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
<option>5</option>
<option>6</option>
<option>7</option>
<option>8</option>
<option>9</option>
<option>10</option>
</select>
<br><br>
¿Cuanto gastas en electricidad?<br><br><input type="text"/>  <br/><br/>

¿Cuánto gastas en Gas Natural?<br><br><input type="text"/>  <br/><br/>

¿Cuantos galones de gas licuado compras al mes?<select>
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
<option>5</option>
<option>6</option>
<option>7</option>
<option>8</option>
<option>9</option>
<option>10</option>
</select>
<br>
¿De cuantos [Kg] ?<input type="text"/>  <br/><br/>
 <br><br>

Elige tu tipo de vehículo:<select>
<option>--</option>
<option>Pequeño(Menor a 1200cc)</option>
<option>Mediano(1200cc)</option>
<option>Grande(Superior a 1200cc)</option>
</select>
<br>
<input type="submit">
</form>
{% endblock %}