<!DOCTYPE html>
<html>
<head>
<title>Green Mind</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="../../static/css/style.css">
	</head>



<body>
	<header class="header">
		<div class="container logo-nav-container">
			<a href="/" class="logo">Green Mind</a>
			<span class="menu-icon">Ver menú</span>
			<nav class="navigation">
				<ul class="show">
					<li><a href="/Carbon-footprint/">Calcula tu huella</a></li>
					<li><a href="/History-of-use/">Historial de registros</a></li>
					{% if user.is_authenticated %}
					<li><a href="/User-account/">Perfil</a></li>
					<li><a href="/Logout/">Logout</a></li>
					{% else %}
					<li><a href="/Register/">Regístrate</a></li>
					{% endif %}
				</ul>
		</div>
	</header>
	<!-------------------------------------
	---------------------------------->
	<div class="divider">
	{% block content %}

	{% endblock content %}
	</div>

	<footer class="footer">
		<div class="container">
			<p>Green Mind es una iniciativa de estudiantes de ingeniería civil en informática de la universidad Federico Santa María.</p>
		</div>
	</footer>
</body>
</html>
